<%--
  Created by IntelliJ IDEA.
  User: vivek
  Date: 16/12/14
  Time: 6:59 AM
--%>

<%@ page contentType="text/html;charset=UTF-8" %>
<html>
<head>
    <title></title>
</head>

<body>
    <h1>${value} in ${currency}</h1>

</body>
</html>