<%--
  Created by IntelliJ IDEA.
  User: vivek
  Date: 16/12/14
  Time: 11:19 AM
--%>

<%@ page contentType="text/html;charset=UTF-8" %>
<html>
<head>
    <title>Error</title>
</head>

<body>
    <div>
        Errors found
    </div>
    <div>
        ${errors}
    </div>
</body>
</html>